In [1]:
import pandas as pd
import numpy as np

In [2]:
a = [2,5,7,8,3]

In [7]:
b = pd.Series(a, dtype = np.float64)
b

0    2.0
1    5.0
2    7.0
3    8.0
4    3.0
dtype: float64

In [8]:
b.index

RangeIndex(start=0, stop=5, step=1)

In [14]:
df = pd.DataFrame({'Col1':['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'],
                   'Col2':[1, 3, 5, 7, 9, 11, 13, 15]}, columns=['Col1','Col2'])

In [15]:
df

  Col1  Col2
0    a     1
1    b     3
2    c     5
3    d     7
4    e     9
5    f    11
6    g    13
7    h    15

In [16]:
df.shape

(8, 2)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Col1    8 non-null      object
 1   Col2    8 non-null      int64
dtypes: int64(1), object(1)
memory usage: 256.0+ bytes

In [19]:
df.describe()

            Col2
count   8.000000
mean    8.000000
std     4.898979
min     1.000000
25%     4.500000
50%     8.000000
75%    11.500000
max    15.000000